
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<title>Add Requirement</title>
</head>
<body>

<div class="navbar">
  <div>Add New Requirement</div>
  <a href="/requirements">Back</a>
</div>

<div class="container">
<div class="card">
<h2>Create Requirement</h2>

<form method="POST">
<input name="title" placeholder="Requirement Title" required>
<textarea name="description" placeholder="Requirement Description"></textarea>

<select name="type">
  <option>Functional</option>
  <option>Non-Functional</option>
</select>

<select name="priority">
  <option>Low</option>
  <option>Medium</option>
  <option>High</option>
</select>

<button type="submit">Save Requirement</button>
</form>
</div>
</div>

</body>
</html>

