<!DOCTYPE html>
<html>
<head>
    <title>CRMS</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js" defer></script>
</head>
<body>
<div class="sidebar">
    <h2>CRMS</h2>
    <form action="/search">
<input name="q" placeholder="Search requirement...">
<button>Search</button>
</form>

    <a href="/">Dashboard</a>
    <a href="/add">Add Requirement</a>
    <a href="/requirements">Requirements</a>
    <a href="/traceability">Traceability</a>
    <a href="/change">Change Requests</a>
</div>
<div class="main">
    {% block content %}{% endblock %}
</div>
</body>
</html>
